
body
{
    background-color: black;
    color: white;
    /* text-align: center; */
    
}
h1
{
    color: orange;
    border: 3px solid black;
    /* background-color: lightgreen; */
    /* display: inline;  we can make block element as inline*/ 
}
.heading{
    /* justify-content: center; */
    text-align: center;
}
p
{
   color: white;
}
h3
{
    color: blueviolet;
}
.navbar{
    background-color: rgb(51 50 49);
    padding: 1px;
    border-radius: 20px;
}

.menu{

    list-style-type:none; 
    display: inline; 
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(171, 129, 210);
    padding: 5px; /* most imp */
}
footer
{   
    text-align: center;
    background-color: lightslategray;
}
.contact
{
    font-style: oblique;
    font-size: 20px;
}
#education{
    font-size: 25px;
}
.educationinfo{
    font-size: 22px;
}
.profile{
    display: flex;
    justify-content: center;
}
.personalInfo{
    margin: 20px;
    color: white;   
}
.skills{
    font-size: 20px;
}
li a {
    font-size: 18px;
    text-decoration: none; /* remove underline form anchor tag */
}
li{
    padding: 8px;
}
.profileImage{
    /* box-shadow: 3px solid blanchedalmond; */
    box-shadow: 6px 6px 6px  gray;
}
.certificate{
    position: relative;
    font-size: 20px;
    bottom: 2.3rem;
    left: 4rem;
    text-decoration: none;
    color: white;
}
.certificate:hover{
    color: red;
   
}
.head{
        color: gold;
}
.Metlink{
    list-style: none;
    text-decoration: none;
    color: white;
}
.Metlink:hover{
  color: red;
}
.clgname{
    margin-top: 30px;
}
.contact a {
    text-decoration: none;
}
.contact a:hover{
    color: red;
}
.marks{
    font-size: 18px;
}
.Edyear{
    font-size: 18px;
}
.name{
    font-size: 47px;
    margin: 25px 70px;
}
.course_name{
    font-size: 25px;
    margin-left: 165px;
}
#Computer-logo {
    width: 40px;
    position: relative;
    left: 365px;
    bottom: 34px;
}
.link{
        bottom: 5rem;
        display: inline;
        margin: 5px;
        position: relative;
        left: 48rem;
        margin: 1rem;
}
.link a{
    text-decoration: none;
    color:white;
}
.link a:hover{
    color: red;
}